{% extends 'base.html' %}

{% block content %}
<div class="p-0 d-flex justify-content-center background-accounts flex-column align-items-center">
    <h1 class="my-3"style="color: white;">Réinitialisation de mot de passe</h1>
    <form method="POST">
        {% csrf_token %}
        <div class="my-5 d-flex flex-column">
            <label for="email" style="color: white;" class="fs-5">Adresse e-mail</label>
            <input id="email" type="email" name="email" required class="form-control-lg">
        </div>
        <button type="submit" class="btn btn-lg btn-warning text-white my-5">Réinitialiser le mot de passe</button>
    </form>
</div>
{% endblock %}
